# --- core backend ---
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
python-dotenv
sqlalchemy
PyYAML
python-jose

# --- langchain ---
langchain-core
langchain-groq
langchain-text-splitters
langchain-community


# --- embeddings & vectors ---
sentence-transformers==2.7.0
torch==2.1.2
faiss-cpu==1.7.4

# --- azure ---
azure-storage-blob
