# --- core backend ---
fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
PyYAML
python-jose

# --- langchain ---
langchain-core
langchain-groq
langchain-text-splitters
langchain-community

# --- embeddings & vectors ---
sentence-transformers
torch
faiss-cpu

# --- azure ---
azure-storage-blob
